.DS_Store

geth
geth-linux
polygon-edge
polygon-edge-linux
cast
bootnode
boot.key

**/validator-0/**
**/validator-1/**
**/validator-2/**
**/validator-3/**
**/validator-4/**
**/validator-5/**
**/validator-6/**

**/data-0/**
**/data-1/**
**/data-2/**
**/data-3/**
**/data-4/**
**/data-5/**

**/node-0/**
**/node-1/**
**/node-2/**
**/node-3/**
**/node-4/**
**/node-5/**

run-0.sh
run-1.sh
run-2.sh
run-3.sh
run-4.sh
run-5.sh
test-l2/run.sh

config.toml
genesis.json
MockStakeTokenERC20.json

password.txt
node_modules/